.top_half_of_projects_page{
  text-align: center;
}

.bottom_portion{

}

.project_list{
  list-style-type: none;
}

.project_link{

}

.project_link {
  text-decoration: none;
  position: relative;
  color:black;
}

.project_link:visited{
  color:black;
}
.project_link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.project_link:hover:before {
  color: gold; visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);

}

.list_item{
  padding-top: 10px;
  padding-bottom: 10px;
}
